body{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(car.jpg);
	background-size: cover;
	background-position: center;
}

.login-box{
	max-width: 700px;
	float: none;
	margin:150px auto;
}

.login-left{
	background:rgba(211,211,211,0.5);
	padding: 30px;
}

.form-control{
	background-color: transparent !important;
}
.headercolor{
	background:#fa8072;
}

.row h2{
	color: white;
	text-transform: uppercase;
	font-size: 30px;
}
.form-group{
	color: white;
}